:root {
  --color-1: #d461e6;
  --color-2: #174c4d;
  --color-3: #ac8484;
}

header {
  background-image: linear-gradient(to right, var(--color-1), var(--color-2));
}

.custom-btn-primary {
    background: var(--color-1);
    color: white;
}

.custom-btn-primary:hover {
    background: var(--color-2);
    color: white;
}

.custom-btn-secondary {
    background: var(--color-3);
    color: black;
}
