:root {
  --color-1: #d461e6;
  --color-2: #174c4d;
  
}

header {
  background-image: linear-gradient(to right, var(--color-1), var(--color-2));
}

.primary-button {
    background: var(--color-1);
    color: rgb(82, 76, 76);
}

.secondary-button {
    background: var(--color-2);
    color: black;
}
